@import '../../scss/_uiKit.scss';
@import '../../scss/_variables.scss';



.root{
  position: relative;
  padding-top: 22px; 
  .filters{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    width: max-content;
    margin-bottom: 30px;
    &__item{
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: $light-grey-2;
      text-decoration: none;
      border: none;
      padding-bottom: 1px;
      border-bottom: 1px solid $light-grey-2;
      &_active, &:hover, &:active{
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 2px;
        color: $black-standart;
        border-bottom: none;
        text-decoration: none;
      }
    }
  }
  .slider{
    &_navButton{
      border: none;
      position: absolute;
      top: 45%;
      width: 60px;
      height: 60px;
      left: -110px;
      border-radius: 50%;
      background-image: url(../../assets/images/icons/slider-arrow.svg);
      background: $black;
      z-index: 2;
      &_prev{

      }
      &_next{

      }
    }
  }
  .products{
    position: relative;
    &>div{
      &>div{
        &>div{
        @media(max-width: 768px){
          margin: 0 auto;
        }
      }
      }
    }
  }
}