.root{
  .title{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    margin: 30px 0px;
  }
  .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    &_item{

    }
    @media(max-width: 1730px){
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 667px){
      grid-template-columns: 1fr;
      &_item{
        margin: 0 auto;
      }
    }
  }
}