// colors

$light-grey: #F2F2F2;
$light-grey-2: #A4ACAD;
$basic-1: #FF9846;
$basic-2:#F46D40;
$black: #111111;
$black-standart: #000000;


// Shadows
$main-shadow:  -15px 15px 30px rgba(230, 230, 230, 0.2), 15px -15px 30px rgba(230, 230, 230, 0.2), 15px 15px 38px rgba(230, 230, 230, 0.9);
